{% extends 'base.html' %}
{% block pagetitle %} This is index Page {% endblock pagetitle %}
{% block content %}
{% include 'navbar.html'%}
<div style="height: 76px;">

</div>
{% include 'sidebar.html' %}

<div class="w3-main" style="margin-left:300px; margin-right: 100;">
	<h1 class="fw-normal text-center">Announcements</h1>
	<div class="container mt-3">
		<div class="card">
			<div class="card-header">
				Mukund
			</div>
			<div class="card-body">
				<h5 class="card-title">New Python Batch Is started</h5>
				<p class="card-text">14 days ago - Made an announcement</p>

			</div>
		</div>
	</div>
	<div class="container mt-3">
		<div class="card">
			<div class="card-header">
				Mukund
			</div>
			<div class="card-body">
				<h5 class="card-title"> Check all the classroom codes here !!</h5>
				<p class="card-text">2 months ago - Made an announcement</p>

			</div>
		</div>
	</div>
	<div class="container mt-3">
		<div class="card">
			<div class="card-header">
				Mukund
			</div>
			<div class="card-body">
				<h5 class="card-title">Install Python link - https://www.python.org/downloads/ Install PyCharm link
					(Recommended to Download Community Version)-
					https://www.jetbrains.com/pycharm/download/#section=windows
				</h5>
				<p class="card-text">3 months ago - Made an announcement</p>

			</div>
		</div>
	</div>
</div>

{% endblock %}