{% extends 'base.html' %}
{% block pagetitle %} This is index Page {% endblock pagetitle %}
{% block content %}
{% include 'navbar.html'%}
  <div class="container">
    <h1 class="text-center mb-5">Attendance </h1>
    <form>
      <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">Batch</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputBatch">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="inputDate">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
        <div class="col-sm-10">
          <input type="time" class="form-control" id="inputTime">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
