{% extends 'base.html' %}
{% block pagetitle %} Add Details of Student {% endblock pagetitle %}
{% block content %}

   

<div class="container p-4 bg-light mt-5">

    <div class="container d-flex justify-content-center p-4 mt-4">
        <form action="#" class="signin-form" method="post">
            <h2 class="text-center">Register Here!</h2>

            {% csrf_token %}
            <div class="form-group mb-3">
                <label class="label" >Username</label><br>
                {{ form.username }}
            </div>
            <div class="form-group mb-3">
                <label class="label">Password</label><br>
                {{ form.password1 }}
            </div>
            <div class="form-group mb-3">
                <label class="label">Repeate Password</label><br>
                {{ form.password2 }}
            </div>
            <div class="form-group mb-3">
                <label class="label">Type of User</label>
                {{ form.type_user }}
            </div>
            
            <span class="text-error " style="color:red">{{ form.errors }}</span>

            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up
                </button>
            </div>

        </form>
    </div>
</div>
    {% endblock %}